*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(206, 206, 206);
    padding: 30px;
}
main{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
body > section{
    float: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
#filterList{
    margin-top: 10px;
    list-style: none;
}
#filterList > li:nth-child(3){
    display: flex;
    flex-direction: column;
    gap:20px;
}
#filterList > li{
    height: 25px auto;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
#filterList > li > button{
    border:none;
    color: rgb(0, 89, 255);
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
#weekList{
    display: flex;
}
#weekList > button{
    width: 80px;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#filterContainer > button:nth-child(3){
    background-color: rgb(0, 89, 255);
    color: white;
}
#filterContainer > button{
    padding: 15px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor : pointer;
    border : none;
}

/* ============================ */

#listContanier ul, #historyContainer ul{
    list-style: none;
    margin-top: 10px;

}
#listContanier ul{
    overflow-y: auto;
    height: 700px;
}
#historyContainer > ul{
    overflow-y: auto;
}

#listContanier ul > li{
    font-weight: bold;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
    height: auto;
}
#listContanier ul > li > ul{
    padding: 15px;
    border-radius: 5px;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#listContanier ul > li > ul > li, #historyContainer ul > li > ul > li{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
}
/* ========================================== */
#historyContainer{
    padding: 20px;
    height: 700px;
    float: left;
    background-color: white;
    overflow-y: auto;
    border-radius: 5px;
}

#historyContainer ul > li{
    padding: 5px;
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
}
#historyContainer h3{
    margin-bottom: 10px;
}
#historyContainer ul > li > ul{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.active{
    background-color: rgb(0, 89, 255);
    color: white;
}