*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    margin-top: 100px;
}
main{
    text-align: center;
    height: 329px;
    background-color: #E9E9E9;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 20px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
header h1{
    font-size: 48px;
    font-weight: bold;
}
header h2{
    font-size: 24px;
    font-weight: bold;
}
header a{
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    background-color: rgb(0, 89, 255);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
main ul{
    width: 900px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 30px;
    gap : 30px;
}
main ul li{
    display: flex;
    align-items: center;
    justify-content:end;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
    height: 150px;
    width: 220px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}
footer div{
    width: 250px;
}