*{
    margin: 0;
    padding: 0;
}
header{
    text-align: left;
    padding: 20px 40px;
    background-color: rgb(0, 89, 255);
    color: white;
}
main{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
#filterList{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
}
#filterList > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: bold;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    font-size : 20px;
}
#weekList, #oddEvenList, #rangeList{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 10px;
}
.weekItem:hover{
    background-color: rgb(0, 68, 196);
    color: white;
}
#addBtn{
    border:none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(0, 89, 255);
    color: white;
}
#weekList > button, #oddEvenList > button{
    width: 100px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#filterContainer, #historyContainer{
    width: 400px;
    height: 700px;
}
#listContanier{
    width: 800px;
    height: 700px;
}
#filterContainer > button{
    padding: 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor : pointer;
    border : none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
section h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
#lottoList, #historyList{
    overflow-y: auto;
    scrollbar-gutter: stable;
    height: 680px;
    border-radius: 5px;
    padding: 1px;
    list-style: none;
}
.box{
   -ms-overflow-style: none;
}
#lottoList::-webkit-scrollbar, #historyList::-webkit-scrollbar{
  display:none;
}
#lottoList > li{
    font-weight: bold;
    margin-bottom: 20px;
    padding: 19px;
    border-radius: 5px;
    height: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
#balls{
    padding: 15px;
    border-radius: 5px;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
#balls > li{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid gray;
}
#hisBalls > li{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid gray;
    padding: 5px;
}
#historyContainer{
    background-color: white;
    border-radius: 5px;
}
#historyList > li{
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
    gap: 10px;
    padding: 20px;
    width: 100%;
}
#historyContainer h3{
    margin-bottom: 10px;
}
#hisBalls{
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    list-style: none;
}
.active{
    background-color: rgb(0, 89, 255);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.yellow{
    background-color: #fbc400;
}
.skyblue{
    background-color: #69c8f2;
}
.violet{
    background-color: #ff7272;
}
.gray{
    background-color: #aaa;
}
.green{
    background-color: #b0d840;
}
.skyblue, .yellow, .violet, .gray, .green{
    color: white;
}
#rangeList > li{
    list-style: none;
}
#one, #two, #three, #four, #five{
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}